{% extends "base.html" %}

{% block title %}Historial{% endblock %}

{% block content %}

<h1>Historial de Consultas</h1>

<p class="subtitle">
    Aquí se muestran todas las consultas realizadas por el usuario.
</p>

<div class="panel">

    <table class="table" id="tablaHistorial">

        <thead>

            <tr>
                <th>Fecha</th>
                <th>Usuario</th>
                <th>Acción</th>
                <th>Ciudad</th>
                <th>País</th>
                <th>Tipo</th>
            </tr>

        </thead>

        <tbody>

        </tbody>

    </table>

</div>

<script src="{{ url_for('static', filename='js/historial.js') }}"></script>

{% endblock %}